<a href="https://colab.research.google.com/github/ki2dek/BigdataAnalyticsGisa/blob/main/3_3_Preprocessing(blank).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 전처리
- 결측치 처리
- 이상치 처리

- 데이터 : data_atype.zip (수업노트에서 다운로드)

## 라이브러리 및 데이터 불러오기

# 결측치

In [ ]:
# 데이터 샘플 확인

In [ ]:
# 결측치 컬럼 확인

In [ ]:
# 데이터 타입 확인

In [ ]:
# workclass 컬럼 고유 값 개수

In [ ]:
# occupation 컬럼 고유 값 개수

In [ ]:
# native.country 컬럼 고유 값 개수

# 범주형 변수 결측치
- 삭제
- 최빈값
- 없는값

## 삭제

In [ ]:
# X_train과 X_test 데이터 크기 확인

In [ ]:
# 결측치 확인

In [ ]:
# 결측치가 있는 데이터(행) 전체 삭제 및 확인 dropna() #기본값 axis=0

In [ ]:
# 특정컬럼에 결측치가 있으면 데이터(행) 삭제 subset=['native.country']

In [ ]:
# 특정컬럼에 결측치가 있으면 데이터(행) 삭제 subset=['native.country', 'workclass']

In [ ]:
# 결측치가 있는 컬럼 삭제 dropna(axis=1)

In [ ]:
# 결측치가 많은 특정 컬럼 삭제 drop(['workclass'], axis=1)

In [ ]:
# 중복값 제거 drop_duplicates()

## 채우기

In [ ]:
# 최빈값

In [ ]:
# 결측값을 새로운 카테고리로 생성 X_train['occupation']

### 결측치 처리
- workclass 최빈값
- native.country 최빈값
- occupation 별도의 카테고리로

In [ ]:
# 데이터 불러오기

In [ ]:
# X_train데이터

In [ ]:
# X_test데이터

In [ ]:
# 결측치 확인

### 수치형 변수 결측치
- 평균값
- 중앙값
- 최대값
- 최소값
- 그룹별 00 값

In [ ]:
#결측치 확인

In [ ]:
# 평균값

In [ ]:
# 중앙값

In [ ]:
# 최대값

In [ ]:
# 최소값

In [ ]:
# age 컬럼 평균값으로 채우기

In [ ]:
# 주당 근무시간 중앙값으로 채우기

In [ ]:
# X_train 결측치 확인

In [ ]:
# X_test 결측치 확인

## 이상치 처리
- 이상한 값 삭제

In [ ]:
# X_train 통계 확인

In [ ]:
# age가 음수인 데이터

In [ ]:
# age가 1이상인 데이터만 살림

In [ ]:
# IQR로 확인
cols = ['age','fnlwgt','education.num', 'capital.gain', 'capital.loss', 'hours.per.week']
for col in cols:
    Q1 = X_train[col].quantile(.25)
    Q3 = X_train[col].quantile(.75)
    IQR = Q3 - Q1
    min_iqr = Q1-1.5*IQR
    max_iqr = Q3+1.5*IQR
    cnt=sum((X_train[col] < min_iqr) | (X_train[col] > max_iqr))
    print(f'{col}의 이상치:{cnt}개 입니다.')

## 전처리 주의 사항
- 이상치, 결측치에 대해 test 데이터(행) 삭제 불가
    - 예) test 데이터 100개가 주어지고 100개로 평가를 하는데 임의로 10개를 삭제해버리면 채점을 할 수가 없음
    - train 데이터는 학습/훈련용 데이터임. 데이터가 많을 경우 임의로 소수 데이터(행) 삭제해도 무방함
- test, train 컬럼은 삭제/추가 가능. 단, train과 컬럼수와 명이 일치해야 함 (y(target) 제외)