<a href="https://colab.research.google.com/github/ki2dek/BigdataAnalyticsGisa/blob/main/4_3_type1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형1 모의문제3
- data : members.csv

## 문제7
- index '2001' 데이터(행)의 평균보다 큰 값의 수와
- index '2003' 데이터(행)의 평균보다 작은 값의 수를 더하시오

[참고]
- 데이터가 랜덤으로 생성되어 결과값이 다를 수 있습니다. 🙏
- 혹, 랜덤 결과값을 고정하기 위해서는 seed값을 넣어 주면 됩니다.
- import random 이후 random.seed(2022) 입력
- 정답: 202 (영상에서 seed값을 고정하지 못해 동일한 데이터 구현을 못했습니다. 202가 정답입니다.)

In [ ]:
# 데이터 생성(먼저 실행해 주세요)
import pandas as pd
import random
random.seed(2022)
df = pd.DataFrame()
for i in range(0, 5):
    list_box = []
    for k in range(0, 200):
        ran_num = random.randint(1,200)
        list_box.append(ran_num)
    df[i+2000] = list_box
df = df.T
df.to_csv("data.csv", index=True)

In [ ]:
df = pd.read_csv("data.csv", index_col="Unnamed: 0")
# your code

## 문제8
- 결측 값을 가진 데이터는 바로 뒤에 있는 값으로 대체한 후 (바로 뒤가 결측값이라면 뒤에 있는 데이터 중 가장 가까운 값)
- city와 f2 컬럼 기준으로 그룹합을 계산한 뒤
- views가 세번째로 큰 city(도시) 이름은?

In [ ]:
# your code

## 문제9
- 구독(subscribed) 월별로 데이터 개수를 구한 뒤
- 가장 작은 구독 수가 있는 월을 구하시오

In [ ]:
# your code

# 풀이

## 문제7
- index '2001' 데이터(행)의 평균보다 큰 값의 수와
- index '2003' 데이터(행)의 평균보다 작은 값의 수를 더하시오

In [ ]:
# 데이터 생성
import pandas as pd
import random
random.seed(2022)
df = pd.DataFrame()
for i in range(0, 5):
    list_box = []
    for k in range(0, 200):
        ran_num = random.randint(1,200)
        list_box.append(ran_num)
    df[i+2000] = list_box
df = df.T
df.to_csv("data.csv", index=True)

In [ ]:
# 풀이
df = pd.read_csv("data.csv", index_col="Unnamed: 0")
# print(df.head(2))

m2001 = df.loc[2001].mean()
# print(m2001)
cond = df.loc[2001] > m2001
r1 = sum(cond)

m2003 = df.loc[2003].mean()
cond = df.loc[2003] < m2003
r2 = sum(cond)

print(r1+r2)

202

## 문제8
- 결측 값을 가진 데이터는 바로 뒤에 있는 값으로 대체한 후 (바로 뒤가 결측값이라면 뒤에 있는 데이터 중 가장 가까운 값)
- city와 f2 컬럼 기준으로 그룹합을 계산한 뒤
- views가 세번째로 큰 city(도시) 이름은?

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")
# df.isnull().sum()
# display(df.head(7))
df = df.fillna(method='bfill')
# display(df.head(7))

df = df.groupby(['city','f2']).sum().reset_index()
df = df.sort_values('views', ascending=False)
print(df.iloc[2,0])

대구

❤️ 추가 설명 ❤️
- numeric_only관련 워닝이 발생되면 sum() mean() corr() 등 함수 괄호 안에 numeric_only=True를 넣어주세요

- 코랩 판다스 버전이 업데이트 되면서 워닝이 발생하고 있어요. 시험 환경은 아직 이전 버전이라 해당 워닝이 발생하지 않고 numeric_only파라미터도 없습니다. 업데이트 될 수도 있으니 알아두는 것이 좋을 것 같아요!

- 원인은 수치형 데이터 외에 범주형 데이터도 함께 있어서 워닝(경고)가 발생했어요

## 문제9
- 구독(subscribed) 월별로 데이터 개수를 구한 뒤
- 가장 작은 구독 수가 있는 월을 구하시오

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

df['subscribed'] = pd.to_datetime(df['subscribed'])
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month
df['day'] = df['subscribed'].dt.day

df = df.groupby('month').count()
df.sort_values('subscribed').index[0]

11

In [ ]:
# test
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")
# df.isnull().sum()
# display(df.head(7))
df = df.fillna(method='bfill')
# display(df.head(7))

df = df.groupby(['city','f2']).sum(numeric_only=True).reset_index()
df
# df = df.sort_values('views', ascending=False)
# print(df.iloc[2,0])

   city  f2     age      f1           f5     views
0    경기   0  1088.9  1348.0  1391.927648  125142.0
1    경기   1   976.0   938.0   935.958628   84652.0
2    경기   2   239.0   311.0   362.300060   23764.0
3    대구   0   578.0   860.0   371.184620   77697.0
4    대구   1   393.6   471.0   404.779978   49536.0
5    대구   2   140.0   211.0    79.667919   13969.0
6    부산   0   481.0   573.0   395.272907   61289.0
7    부산   1   430.7   514.0   460.657406   46922.0
8    부산   2    16.5   124.0   101.195372    9877.0
9    서울   0   220.0   467.0   484.809540   56891.0
10   서울   1   389.3   621.0   506.371383   55666.0
11   서울   2   143.3   292.0   179.328213   12528.0