<a href="https://colab.research.google.com/github/ki2dek/BigdataAnalyticsGisa/blob/main/type1_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형1 예시문제
### 자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수는?

## 문제분석
- 문제에서 qsec 컬럼만 묻고 있음 (다른 컬럼 신경 쓸 필요 없음)
- MinMax Scale 변환
- 조건 0.5보다 큰 값

## 풀어보기

# 풀이

## 데이터 불러오기

In [ ]:
# 데이터 불러오기
import pandas as pd
# a = pd.read_csv('mtcars.csv') # 샘플

def load_data():
    return pd.read_csv('mtcars.csv')

data = load_data()
data.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

## 스케일링

### 스케일링 방법1

In [ ]:
# MinMaxScaler 활용
from sklearn.preprocessing import MinMaxScaler

data = load_data()
scaler = MinMaxScaler()
print('MinMax Scale 변환 전: \n',data['qsec'].head())
data['qsec'] = scaler.fit_transform(data[['qsec']])
print('MinMax Scale 변환 후: \n',data['qsec'].head())

MinMax Scale 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
MinMax Scale 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64

### 스케일링 방법2

In [ ]:
# minmax_scale 활용
from sklearn.preprocessing import minmax_scale

data = load_data()
print('MinMax Scale 변환 전: \n',data['qsec'].head())
data['qsec'] = minmax_scale(data['qsec'])
print('MinMax Scale 변환 후: \n',data['qsec'].head())

MinMax Scale 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
MinMax Scale 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64

### 스케일링 방법3

In [ ]:
# min-max 함수
def my_minmax(data):
    data = (data - min(data)) / (max(data) - min(data))
    return data

print('MinMax Scale 변환 전: \n',data['qsec'].head())
data['qsec'] = my_minmax(data['qsec'])
print('MinMax Scale 변환 후: \n',data['qsec'].head())

MinMax Scale 변환 전:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64
MinMax Scale 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64

## 조건 (0.5보다 큰 값)

### sum 활용

In [ ]:
# True(1)를 더 함
cond = data['qsec'] > 0.5
print(sum(cond))

9

In [ ]:
data['qsec'] > 0.5

0     False
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8      True
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19     True
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
Name: qsec, dtype: bool

### len 활용

In [ ]:
# 데이터 수를 구함
cond = data['qsec'] > 0.5
print(len(data[cond]))

9

### count 활용

In [ ]:
# 데이터 수를 구함
cond = data['qsec'] > 0.5
print(data[cond]['qsec'].count())

9

## 심화학습
- 결측치 값이 처리되지 않았을 때 결과

In [ ]:
# 결측치가 있는 데이터 생성
import numpy as np
df = pd.DataFrame(
    {
        'a':[1,2,3,4,5,6,7,8,9],
        'b':[1.3,2.2,3.3,np.nan,5.8,6.9,np.nan,8.2,9.0]
    }
)
df

   a    b
0  1  1.3
1  2  2.2
2  3  3.3
3  4  NaN
4  5  5.8
5  6  6.9
6  7  NaN
7  8  8.2
8  9  9.0

In [ ]:
# len(데이터프레임)
len(df)

9

In [ ]:
# len(시리즈)
len(df['b'])

9

In [ ]:
# 데이터프레임.count()
df.count()

a    9
b    7
dtype: int64

In [ ]:
# 시리즈.count()
df['b'].count()

7

- len: 행의 수
- count: NaN이 아닌 (컬럼별) 행의 수
- sum: True(1)값을 더했기 때문에 조건문에 따라 달라짐

In [ ]:
df['b'] > 3

0    False
1    False
2     True
3    False
4     True
5     True
6    False
7     True
8     True
Name: b, dtype: bool

In [ ]:
cond = df['b'] > 3
print(sum(cond))

5